<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form class="login-container" action="/admin/login" method="POST">
    <div class="login-top">
      <span>Welcome to admin login page</span>
      <div>Go back <a href="/admin">Home</a></div>
      <p>Not registered yet? <a href="/admin/signup">Signup</a></p>
    </div>

    <div class="login-input-frame">
      <div class="login-input-container">
        <label>Admin *</label>
        <input
          type="text"
          name="memberNick"
          class="member-nick"
          placeholder="Admin name"
          value=""
          required
        />
      </div>
      <div class="login-input-container">
        <label>Password *</label>
        <input
          type="password"
          name="memberPassword"
          class="member-password"
          placeholder="Password"
          value=""
          required
        />
      </div>
    </div>

    <button class="login-btn" name="login" type="submit">Login</button>

    <div class="social-buttons">
      <button class="social-btn telegram-btn" type="button">
        <i class="fa-brands fa-telegram"></i> Telegram
      </button>
      <button class="social-btn google-btn" type="button">
        <i class="fa-brands fa-google"></i> Google
      </button>
      <button class="social-btn kakao-btn" type="button">
        <i class="fa-solid fa-comment"></i> KakaoTalk
      </button>
    </div>
  </form>
</body>

<%- include('includes/footer') %>
