<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/signup.css" />

<body>
  <div class="signup-wrapper">
    <a href="/admin" class="home-link">
      <i class="fa-solid fa-house"></i> Go Home
    </a>

    <form
      id="signupForm"
      action="/admin/signup"
      method="POST"
      enctype="multipart/form-data"
      class="signup-form"
    >
      <h2>Admin Signup</h2>

      <div class="input-group">
        <input
          type="text"
          name="memberNick"
          class="member-nick"
          placeholder="Admin nick *"
          required
        />
      </div>

      <div class="input-group">
        <input
          type="text"
          name="memberPhone"
          class="member-phone"
          placeholder="Phone *"
          required
        />
      </div>

      <div class="input-group password-group">
        <input
          type="password"
          name="memberPassword"
          class="member-password"
          placeholder="Password *"
          required
        />
        <i class="fa-solid fa-eye toggle-pass"></i>
      </div>

      <div class="input-group password-group">
        <input
          type="password"
          name="confirmPassword"
          class="confirm-password"
          placeholder="Repeat password *"
          required
        />
        <i class="fa-solid fa-eye toggle-pass"></i>
      </div>

      <div class="file-upload">
        <label>Upload Image</label>
        <input
          type="file"
          name="memberImage"
          class="member-image"
          accept=".jpg,.jpeg,.png"
          id="memberImageInput"
          required
        />
        <small>Only .jpg, .jpeg, .png allowed</small>
        <div class="image-preview">
          <img
            class="upload-img-frame"
            id="preview"
            src="/img/default.png"
            alt="Image preview"
          />
        </div>
      </div>

      <input type="hidden" name="memberType" value="ADMIN" />

      <button type="submit" class="signup-btn">Sign Up</button>

      <div class="social-buttons">
        <button type="button" class="social-btn telegram">
          <i class="fab fa-telegram-plane"></i> Telegram
          <script type="text/javascript">
            function onTelegramAuth(user) {
              alert(
                "Logged in as " +
                  user.first_name +
                  " " +
                  user.last_name +
                  " (" +
                  user.id +
                  (user.username ? ", @" + user.username : "") +
                  ")"
              );
            }
          </script>
        </button>
        <button type="button" class="social-btn google">
          <i class="fab fa-google"></i> Google
        </button>
        <button type="button" class="social-btn kakao">
          <i class="fas fa-comment"></i> KakaoTalk
        </button>
      </div>

      <p class="alt-text">
        Already registered? <a href="/admin/login">Login</a>
      </p>
    </form>
  </div>

  <script src="/js/signup.js"></script>
  // Telegram signup
</body>

<%- include('includes/footer') %>
